.hero{
    width: 100%;
    margin: 0 auto;
    background-color: #f1f1f1;
    background-image: url("/background/amsterdam-achtergrond.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 35%;
    padding: 0 0 25px 0;
    border-bottom: 3px solid var(--donkerPaars);
}

.hero > div:nth-of-type(1){
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.herotop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}

.herotop > section:nth-of-type(1){
    width: 50%;
    height: auto;
}

.herotop > section:nth-of-type(1) > h1{
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 10px 0;
}

.herotop > section:nth-of-type(1) > h1 > span{
    color: var(--donkerPaars);
}

.herotop > section:nth-of-type(1) > h2{
    font-size: 22px;
    font-weight: 400;
}

.herotop > section:nth-of-type(1) > div{
    display: flex;
    gap: 25px;
    margin: 35px 0 -25px 0;
}

.herotop > section:nth-of-type(1) > div > section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #ffff;
    border: 1px solid var(--donkerPaars);
    width: 100px;
    height: 100px;
    padding: 15px;
    border-radius: 10px;
}

.herotop > section:nth-of-type(1) > div > section > img{
    width: 45px;
    height: auto;
}

.herotop > section:nth-of-type(1) > div > section > h3{
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
    margin: 0;
}

.herotop > section:nth-of-type(2){
    width: 40%;
    height: auto;
    margin-top: -50px;
}

.herotop > section:nth-of-type(2) > img{
    width: 100%;
    height: auto;;
}


.sterkepunten > ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 25px 0 40px 0;
}

.sterkepunten > ul > li{
    background-color: #d1c7ff96;
    border: 1px solid #a28eff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    font-weight: 500;
    padding: 0 15px 0 5px;
}

.sterkepunten > ul > li > img{
    width: 23px;
    height: auto;
}

.kenteken{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px 15px 25px;
    max-width: 90%;
    height: 125px;
    margin: 0 auto;
    margin-bottom: -85px;
    border-radius: 25px;
    background-color: #ffff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.kenteken > section:nth-of-type(1) > p{
    font-size: 11px;
    font-weight: 500;
    margin: 0 0 5px 0;
}

.kenteken > section:nth-of-type(2) > div{
    display: none;
}

.kenteken > section:nth-of-type(2) > a{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #00b422;
    color: #ffff;
    width: auto;
    height: auto;
    padding: 13px 17px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 500;
    margin: 20px 0 0 0;
}

.kenteken > section:nth-of-type(2) > a:hover{
    opacity: .7;
    transition: .3s ease;
}

.kenteken > section:nth-of-type(2) > a > img{
    width: 14px;
    height: auto;
}

.kenteken .kentekeninput{
    display: flex;
    align-items: center;
    position: relative;
    width: 260px;
    height: 55px;
    background-color: #f4be02;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    position: relative;
}

.kenteken .kentekeninput > div:nth-of-type(1){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0052b4;
    width: 35px;
    height: 100%;
    text-align: center;
    color: #ffff;
    font-size: 12px;
    padding: 0 0 4px 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.kenteken .kentekeninput > div:nth-of-type(1) > img{
    width: 100%;
    height: auto;
}

.kenteken .kentekeninput > div:nth-of-type(1) > p{
    margin-top: -2px;
    font-size: 13px;
    font-weight: 500;
}

.kenteken .kentekeninput > input{
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    background: none;
    border: none;
    font-family: "Kenteken";
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.kenteken .kentekeninput > div:nth-of-type(2){
    position: absolute;
    right: -70px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
}

.kenteken .kentekeninput > div:nth-of-type(2) > span{
    width: 48px;
    height: 48px;
    border: 5px solid var(--donkerPaars);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 


.popup{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.622);
    z-index: 9999999999;
}

.popup > img{
    width: 25px;
    height: auto;
    position: absolute;
    top: 20px;
    right: 20px;
    pointer-events: none;
}

.popup > div{
    width: 450px;
    height: auto;
    margin: 0 15px;
    padding: 25px;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
}

.popup > div > p:nth-of-type(1){
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 25px 0;
}

.popup > div > p:nth-of-type(2),
.popup > div > p:nth-of-type(3){
    font-size: 19px;
    font-weight: 400;
}

.popup > div > span{
    width: 65px;
    height: 65px;
    border: 5px solid var(--donkerPaars);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: 55px 0 0 0;
}

.popup > div > p:nth-of-type(4){
    font-size: 16px;
    font-weight: 600;
    margin: 25px 0;
}

.popup > div > a{
    display: block;
    background-color: var(--donkerPaars);
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 17px 0;
    border-radius: 15px;
    color: #ffff;
    font-size: 16px;
    font-weight: 500;
}

.popup > div > a:hover{
    background-color: var(--lichtPaars);
    color: #000;
    transition: .3s ease;
}

@media only screen and (max-width: 1150px) {
    .herotop > section:nth-of-type(1) > div{
        margin: 25px 0 0 0;
    }
}

@media only screen and (max-width: 1020px) {
    .herotop > section:nth-of-type(1) > h1{
        font-size: 30px;
    }

    .herotop > section:nth-of-type(1) > h2{
        font-size: 19px;
    }

    .sterkepunten > ul > li{
        font-size: 10px;
        gap: 3px;
    }

    .sterkepunten > ul > li > img{
        width: 18px;
    }
}

@media only screen and (max-width: 970px) {
    .hero{
        margin-top: -10px;
    }
}


@media only screen and (max-width: 870px) {
    .hero{
        margin-top: -20px;
    }

    .sterkepunten > ul > li{
        font-size: 11px;
    }

    .sterkepunten > ul > li:last-child{
        display: none;
    }

    .kenteken{
        max-width: 100%;
        width: 100%;
    }

    .kenteken > section:nth-of-type(2) > a{
        font-size: 13px;
    }

    .kenteken > section:nth-of-type(2) > a > img{
        width: 12px;
    }
}

@media only screen and (max-width: 830px) {
    .herotop > section:nth-of-type(1) > h1{
        font-size: 25px;
    }

    .herotop > section:nth-of-type(1) > h2{
        font-size: 16px;
    }

    .sterkepunten > ul > li{
        font-size: 10px;
    }
}

@media only screen and (max-width: 770px) {
    .hero{
        margin-top: 0px;
    }
}


@media only screen and (max-width: 700px) {
    .herotop{
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
    }

    .herotop > section:nth-of-type(1){
        width: 75%;
        margin: 0;
        text-align: center;
    }
    
    .herotop > section:nth-of-type(1) > div{
        justify-content: space-around;
        gap: 0;
    }

    .herotop > section:nth-of-type(2){
        width: 50%;
        margin: -30px 0 30px 0;
    }

    .sterkepunten > ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

    .sterkepunten > ul > li{
        font-size: 12px;
        justify-content: center;
        width: fit-content;
        margin: 0 auto;
    }

    .sterkepunten > ul > li > img{
        width: 20px;
    }
}

@media only screen and (max-width: 610px) {
    .kenteken{
        flex-direction: column;
        height: auto;
        padding: 15px;
        border-radius: 15px;
    }

    .kenteken > section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .kenteken > section:nth-of-type(1) > p{
        margin: 0 0 10px 0;
        font-size: 13px;
    }

    .kenteken > section:nth-of-type(2) > div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        margin: 25px 0;
        width: 100%;
    }

    .kenteken > section:nth-of-type(2) > div > p{
        text-transform: uppercase;
        color: #7b7b7b;
        font-size: 14px;
        font-weight: 600;
    }

    .kenteken > section:nth-of-type(2) > div > span{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #d5d5d5;
    }

    .kenteken > section:nth-of-type(2) > a{
        margin: 0 auto 25px auto;
        width: 225px;
        padding: 17px 5px;
        justify-content: center;
    }
}

@media only screen and (max-width: 550px) {
    .herotop > section:nth-of-type(1){
        width: 100%;
        text-align: initial;
    }

    .herotop > section:nth-of-type(1) > div{
        justify-content: flex-start;
        gap: 20px;
    }

    .herotop > section:nth-of-type(1) > div > section{
        flex-direction: row;
        width: auto;
        height: auto;
        padding: 10px;
        gap: 10px;
        border-radius: 7px;
    }

    .herotop > section:nth-of-type(1) > div > section > img{
        width: 35px;
    }

    .herotop > section:nth-of-type(1) > div > section > h3{
        font-size: 11px;
        text-align: justify;
        line-height: 14px;
    }

    .herotop > section:nth-of-type(2){
        width: 80%;
        margin-top: -65px;
    }

    .sterkepunten > ul{
        gap: 15px;
    }

    .sterkepunten > ul > li{
        font-size: 11px;
        width: 100%;
        padding: 3px;
    }
}

@media only screen and (max-width: 450px) {
    .kenteken{
        position: relative;
    }

    .kenteken .kentekeninput{
        position: static;
    }

    .kenteken .kentekeninput > div:nth-of-type(2){
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000000b3;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
    }

    .kenteken .kentekeninput > div:nth-of-type(2) > span{
        width: 60px;
        height: 60px;
        border: 6px solid #ffff;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }
}


@media only screen and (max-width: 440px) {
    .herotop > section:nth-of-type(1) > h1{
        font-size: 22px;
    }

    .herotop > section:nth-of-type(1) > h2{
        font-size: 14px;
        line-height: normal;
    }

    .sterkepunten > ul > li{
        justify-content: flex-start;
        padding: 3px 5px 3px 8px;
        font-size: 10px;
    }

    .sterkepunten > ul > li > img{
        width: 15px;
    }
}

@media only screen and (max-width: 385px) {
    .herotop > section:nth-of-type(1) > h1{
        font-size: 20px;
    }

    .herotop > section:nth-of-type(1) > h2{
        font-size: 12px;
        margin: 0;
    }

    .sterkepunten > ul{
        margin: 25px 0;
    }

    .sterkepunten > ul > li{
        justify-content: flex-start;
        font-size: 8px;
    }

    .sterkepunten > ul > li > img{
        width: 12px;
    }

    .kenteken > section:nth-of-type(1) > p{
        font-size: 11px;
    }
}

@media only screen and (max-width: 350px) {
    .herotop > section:nth-of-type(2){
        margin-top: -40px;
    }
}

@media only screen and (max-width: 320px) {
    .sterkepunten > ul > li{
        justify-content: flex-start;
        font-size: 7px;
    }

    .sterkepunten > ul > li > img{
        width: 11px;
    }

    .kenteken > section:nth-of-type(1) > p{
        font-size: 10px;
    }
}

@media only screen and (max-width: 300px) {
    .herotop > section:nth-of-type(2){
        margin-top: -20px;
    }

    .herotop > section:nth-of-type(1) > h2{
        margin: 0 0 25px 0;
    }

    .sterkepunten > ul{
        display: none;
    } 
}