.instagramfeed{
    width: 100%;
    background-color: #f2efff;
    margin: 75px auto 50px auto;
    padding: 50px 0;
}

.instagramfeed > div{
    max-width: 1250px;
    padding: 0 15px;
    margin: 0 auto;
}

.instagramfeed > div > span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 0 0 15px 0;
}

.instagramfeed > div > span > h2{
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    margin: 0;
}

.instagramfeed > div > span > a{
    display: block;
    width: 30px;
    height: 30px;
}

.instagramfeed > div > span > a > img{
    width: 100%;
    height: auto;
}

.instagramfeed > div > span > a > img:hover{
    transform: scale(1.1);
    transition: .2s ease;
}

@media only screen and (max-width: 720px) {
    .instagramfeed > div > span > h2{
        font-size: 21px;
    }
}