@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900,1000&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900,1000&display=swap');

.eapp-cookie-consent-widget-container > a{
  display: none !important;
}

.eapp-cookie-consent-widget-container{
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;  
}

/* Kentekenplaat font */
@font-face {
  font-family: "Kenteken";
  src: url("/fonts/Kenteken.ttf") format("opentype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

:root {
  --donkerPaars: #7158e2;
  --lichtPaars: #c4b7ff;
  --groen: #81f700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.image-gallery-slide-wrapper .image-gallery-slides{
  touch-action: pan-y !important;
}

@media (prefers-color-scheme: dark) {
    body{
        color: #000 !important;
        background: #ffff !important;
    }

    .next-error-h1{
        border-right: 1px solid #000 !important;
    }
}

/* Start pagehero background images */
.pagehero-carplay-laten-inbouwen{
  background-image: url("/background/carplay-fiesta.jpg");
  background-position: 0 20%;
}

.pagehero-veelgestelde-vragen{
  background-image: url("/background/carplay-w205.png");
  background-position: 0 35%;
}

 .pagehero-contact{
  background-image: url("/background/carplay-w205.jpg");
  background-position: 0 25%;
}

.pagehero-offerte, .pagehero-wordt-aan-gewerkt{
  background-image: url("/background/autodraadloosfooter.jpg");
  background-position: 0 40%;
}

.pagehero-mercedes-benz, .pagehero-portfolio, .pagehero-glc{
  background-image: url("/background/mercedes-benz-bg.jpg");
  background-position: 0 62%;
}

.pagehero-a-klasse{
  background-image: url("/background/w176.png");
  background-position: 0 40%;
}

.pagehero-c-klasse{
  background-image: url("/background/w205.png");
  background-position: 0 35%;
}
/* End pagehero background images */

h1, h2, h3, h4{
  font-family: "Poppins";
}

h2{
  font-size: 30px;
  font-weight: 500;
  margin: 0 0 15px 0;
}

h3{
  font-size: 26px;
  font-weight: 500;
  margin: 0 0 5px 0;
}

p{
  font-size: 14px;
}

textarea{
  font-family: "Poppins";
}

@media only screen and (max-width: 600px) {
  h2{
    font-size: 22px;
    line-height: 30px;
  }

  h3{
    font-size: 18px;
  }

  p{
    font-size: 13px;
  }
}

main{
  margin-top: 90px;
}

a {
  color: inherit;
  text-decoration: none;
}

button{
  cursor: pointer;
}

.displaynone{
  display: none !important;
}

@media only screen and (max-width: 770px) {
  .displaynonemobile{
    display: none !important;
  }

  main{
    margin-top: 75px;
  }
}

.openhamburger {
  animation: openhamburger .5s forwards
}

.closehamburger {
  animation: closehamburger .5s forwards
}

@keyframes openhamburger {
  0% {
      left: -2000px
  }

  to {
      left: 0px;
  }
}

@keyframes closehamburger {
  0% {
      left: 0px;
  }

  to {
      left: -2000px
  }
}





.activestap{
  color: #00d829 !important;
  border-bottom: 2px solid #00d829 !important;
}

.activestap span{
    background-color: #00d829;
    color: #000;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    font-size: 13px;
}

@media only screen and (max-width: 600px) {
  .activestap span{
    width: 15px;
    height: 15px;
    font-size: 10px;
  }
}


.kentekeninput.errorstate{
  border: 2px solid red !important;
}

.kentekeninput.errorstate::after{
    content: "Vul een geldig kenteken in.";
    position: absolute;
    bottom: -30px;
    left: 0;
    font-size: 13px;
    font-weight: 500;
    color: red;
}

.kentekeninput.successtate{
  border: 2px solid #00d829 !important;
}

.kentekeninput.successtate::after{
    content: "Kenteken gevonden.";
    position: absolute;
    bottom: -30px;
    left: 0;
    font-size: 13px;
    font-weight: 500;
    color: #00d829;
}

.stap2keus.selected{
  border: 1px solid var(--donkerPaars) !important;
  background-color: var(--lichtPaars) !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px !important;
  transform: scale(1.01);
  transition: all .1s ease-in-out;
}

.stap2errorstate, .emptystatemessage{
    font-size: 13px !important;
    font-weight: 500 !important;
    color: red !important;
    text-align: center !important;
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 5px !important;
  }

  @media only screen and (max-width: 650px) {
    .stap2errorstate, .emptystatemessage{
      bottom: 65px !important;
    }
  }

  .emptystatemessage{
    bottom: 85px !important;
    right: 15px !important;
    left: auto !important;
  }

  @media only screen and (max-width: 720px) {
      .emptystatemessage{
        bottom: 100px !important;
      }
  }

  .stap3 .empty{
    border: 2px solid red !important;
  }

  .offerteloadingstate{
    text-align: center;
    margin: 100px 0 125px 0;
  }

.offerteloadingstate > span{
    margin: 0 0 15px 0;
    width: 60px;
    height: 60px;
    border: 8px solid var(--donkerPaars);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 



.portfolio{
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.portfolio p{
  margin: 0 0 25px 0;
}

.portfolio p a{
  color: var(--donkerPaars);
  text-decoration: underline;
}

.contactforminner1 .notselected{
  border: 1.5px solid red !important;
}

.lds-ring {
  color: var(--donkerPaars);
}
.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}