.offerte{
}

.offerte > div:nth-of-type(1){
    max-width: 1250px;
    padding: 0 15px;
    margin: 100px auto;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1){
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 725px;
    background-color: #ffff;
    margin: 150px auto 0 auto;
    border-radius: 8px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) p a{
    color: var(--donkerPaars);
    text-decoration: underline;
}

/* Start offerte header */
.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1){
    width: auto;
    padding: 15px;
    background-color: var(--donkerPaars);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > ul > li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    color: #ffff;
    border-bottom: 2px solid #ffff;
    padding: 0 0 10px 0;
    text-align: center;
}
/* End offerte header */




/* Start offerte container */
.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2){
    width: auto;
    height: 100%;
    padding: 25px;
    position: relative;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section{
    /* background-color: rgb(226, 226, 226); */
    width: auto;
    height: 100%;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section > h2{
    font-size: 27px;
    font-weight: 500;
    margin: 0 0 10px 0;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section > p{
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 30px 0;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section > button.volgendestap{
    background-color: var(--lichtPaars);
    border: 0px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 30px;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section > button.vorigestap{
    background-color: #747474;
    color: #ffff;
    border: 0px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 15px 30px;
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(1) > div.kenteken{
    display: flex;
    align-items: center;
    position: relative;
    width: 220px;
    height: 45px;
    background-color: #f4be02;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(1) > div.kenteken > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0052b4;
    width: 30px;
    height: 100%;
    text-align: center;
    color: #ffff;
    font-size: 12px;
    padding: 0 0 4px 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(1) > div.kenteken > div > img{
    width: 100%;
    height: auto;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(1) > div.kenteken > div > p{
    margin-top: -2px;
    font-size: 11px;
    font-weight: 500;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(1) > div.kenteken > input{
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    background: none;
    border: none;
    font-family: "Kenteken";
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(1) > div.kenteken > input:focus{
    outline: none;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(1) > div.kenteken > p{
    font-size: 13px;
    font-weight: 600;
    display: block;
    position: absolute;
    bottom: -70px;
    left: 0;
    width: 400px;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(1) > div.kentekenloadingstate{
    position: absolute;
    background-color: #00000057;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    color: #ffff;
    font-size: 20px;
    pointer-events: none;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(1) > div.kentekenloadingstate > span{
    width: 60px;
    height: 60px;
    border: 8px solid var(--donkerPaars);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 





.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(2) > ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 100px 0 0 0;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(2) > ul > li{
    width: 300px;
    height: auto;
    background-color: #ffff;
    border: 1px solid rgb(236, 236, 236);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(2) > ul > li > img{
    width: 200px;
    height: auto;
    margin: 15px 0;
    border-radius: 10px;
    pointer-events: none;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(2) > ul > li > p{
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin: 0 15px 15px 15px;
    pointer-events: none;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(3) > div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(3) > div > section{
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}


.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(3) > div > section > input{
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border-radius: 18px;
    border: 0px;
    background-color: #f4f4f4;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(3) > div > section > p,
.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(3) > div > section > label{
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 3px;    
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(3) > div > section > label{
    cursor: pointer;
    margin: 0;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(3) > div > section > textarea{
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    height: 100px;
    padding: 20px;
    border-radius: 15px;
    border: 0px;
    background-color: #f4f4f4;
    resize: none;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(3) > div > section:nth-of-type(4),
.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(3) > div > section:nth-of-type(5){
    grid-template-columns: 100%;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(3) > div > section:nth-of-type(3){
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
    margin: 15px 0;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(3) > div > section:nth-of-type(3) > input{
   width: 20px;
   height: 20px;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(3) > div > section:nth-of-type(5) > input{
    width: 120px;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(4) > div:nth-of-type(2) > span{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 50px 0
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(4) > div:nth-of-type(2) > span > p{
    font-size: 18px;
    font-weight: 600;
    color: #00b008;
}

.offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(4) > div:nth-of-type(2) > span > img{
    width: 30px;
    height: auto;
    margin: 0 0 0 -5px;
}
/* End offerte container */




/* Start offerte header */
@media only screen and (max-width: 720px) {
    .offerte > div:nth-of-type(1){
        padding: 0;
    }

    .offerte > div:nth-of-type(1) > div:nth-of-type(1){
        border-radius: 0;
        height: 675px;
    }
    
    .offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1){
        padding: 10px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    .offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > ul > li{
        font-size: 12px;
        gap: 3px;
        padding: 0 0 5px 0;
    }    

    .offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section > h2{
        font-size: 23px;;
    }

    .offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section > p{
        font-size: 13px;
        line-height: 23px;
    }

    .offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(2) > ul{
        margin: 50px 0 0 0;
    }

    .offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(2) > ul > li{
        width: 45%;
    }

    .offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(2) > ul > li > img{
        width: 70%;
    }

    .offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(2) > ul > li > p{
        width: 85%;
        font-size: 12px;
        font-weight: 500;
    }

    .offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(3) > p{
        margin-bottom: 15px;
    }

    .offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(3) > div > section > input,
    .offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(3) > div > section > textarea{
        font-size: 12px;
        border-radius: 10px;
    }
    
    .offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(3) > div > section > textarea{
        padding: 12px;
    }

}

@media only screen and (max-width: 450px) {
    .offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(2) > ul > li > img{
        width: 90%;
    }

    .offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(3) > div > section > p, 
    .offerte > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > section:nth-of-type(3) > div > section > label{
        font-size: 11px;
    }
}
/* End offerte header */




