.productpagina{ 
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}

.productpagina > div:nth-of-type(1){
    display: flex;
    justify-content: space-between;
    align-items: unset;
}

.productpagina > div:nth-of-type(1) > .productfotos{
    width: 53%;
}

.productpagina > div:nth-of-type(1) > .productgegevens{
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #ffff;
    border-radius: 5px;
    padding: 25px;
    width: 45%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.productpagina > div:nth-of-type(1) > .productgegevens > h2{
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    width: 90%;
    margin: 0;
}

.productpagina > div:nth-of-type(1) > .productgegevens > ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    margin: 0 0 10px 0;
}

.productpagina > div:nth-of-type(1) > .productgegevens > ul > li{
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 15px;
    font-weight: 500;
}

.productpagina > div:nth-of-type(1) > .productgegevens > ul > li > img{
    width: 23px;
    height: auto;
}

.productpagina > div:nth-of-type(1) > .productgegevens > .producticons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin: 0 0 15px 0;
}

.productpagina > div:nth-of-type(1) > .productgegevens > .producticons > img{
    width: 100%;
    height: auto;
}

.productpagina > div:nth-of-type(1) > .productgegevens > select{
    color: #000;
    font-weight: 800;
    background-color: #efefef;
    border-radius: 15px;
    border: 0px;
    padding: 15px;
    cursor: pointer;
    margin: 0 0 15px 0;
}

.productpagina > div:nth-of-type(1) > .productgegevens > .prijzen{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.productpagina > div:nth-of-type(1) > .productgegevens > .prijzen > p{
    font-size: 13px;
    font-weight: 600;
    margin: 0 0 -10px 0;
}

.productpagina > div:nth-of-type(1) > .productgegevens > .prijzen > div{
    padding: 35px 15px 15px 15px;
    border-radius: 7px;
    border: 3px solid var(--lichtPaars);
    position: relative;
}

.productpagina > div:nth-of-type(1) > .productgegevens > .prijzen > div > span{
    position: absolute;
    top: 3px;
    left: 5px;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}

.productpagina > div:nth-of-type(1) > .productgegevens > .prijzen > div > p:nth-of-type(1){
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 30px 0;
}

.productpagina > div:nth-of-type(1) > .productgegevens > .prijzen > div > p:nth-of-type(2){
    font-size: 17px;
    font-weight: 600;
    background-color: var(--lichtPaars);
    width: fit-content;
    padding: 5px 12px;
    border-radius: 12px;
    float: right;
}

.productpagina > div:nth-of-type(1) > .productgegevens > button{
    background-color: var(--donkerPaars);
    color: #ffff;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .2px;
    border: none;
    width: 100%;
    padding: 20px 0;
    border-radius: 15px;
}

.productpagina > div:nth-of-type(1) > .productgegevens > button:hover{
    background-color: var(--lichtPaars);
    color: #000;
    transition: .3s ease;
}

.afspraak{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.622);
    z-index: 9999999999;
}

.afspraak > img{
    width: 25px;
    height: auto;
    position: absolute;
    top: 20px;
    right: 20px;
    pointer-events: none;
}

.afspraak > div{
    width: 400px;
    height: auto;
    padding: 25px;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.afspraak > div > h2{
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 20px 0;
}

.afspraak > div > ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.afspraak > div > ul > li > a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    position: relative;
}

.afspraak > div > ul > li > a > img{
    width: 24px;
    height: auto;
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.afspraak > div > ul > li > a:hover{
    opacity: .7;
    transition: .3s ease;
}

.afspraak > div > ul > li:nth-of-type(1) > a{
    background-color: #12bc52;
    color: #fff;
}

.afspraak > div > ul > li:nth-of-type(2) > a{
    background-color: var(--lichtPaars);
}

.afspraak > div > ul > li:nth-of-type(3) > a{
    background-color: var(--donkerPaars);
    color: #ffff;
}

.afspraak > div > section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 25px 0 5px 0;
}

.afspraak > div > section > p{
    font-size: 15px;
}

.afspraak > div > section > p:last-child{
    font-weight: 600;
}

@media only screen and (max-width: 770px) {
    .productpagina > div:nth-of-type(1){
        flex-direction: column;
        gap: 25px;
    }

    .productpagina > div:nth-of-type(1) > .productfotos{
        width: 100%;
    }

    .productpagina > div:nth-of-type(1) > .productgegevens{
        width: 100%;
        padding: 15px;
    }

    .productpagina > div:nth-of-type(1) > .productgegevens > h2{
        font-size: 18px;
        line-height: 30px;
    }

    .productpagina > div:nth-of-type(1) > .productgegevens > ul > li{
        font-size: 12px;
    }

    .productpagina > div:nth-of-type(1) > .productgegevens > ul > li > img{
        width: 20px;
    }
}
